<head>
<title>LOCAL HO$T</title>
<link rel="stylesheet" type="text/css" href="css/custom.css">
<script src="js/random.js"></script>
</head>

<body>
  <h1>Welcome</h1>
<%= yield %>
  <h1>Good Bye</h1>
</body>